
@model  E_commerce_rocosa.Models.TipoAplicacion

@{
    ViewData["Title"] = "NewTipoAplicacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" asp-action="NewTipoAplicacion">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Nuevo TipoAplicacion</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Nombre" class="form-label">Nombre Tipo APlicacion</label>
                    <input asp-for="Nombre" class="form-control" />
                </div>
            </div>
            
            <br />
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-primary">Crear</button>
                <a asp-controller="TipoAplicacion" asp-action="Index" class="btn btn-success">Regresar</a>

            </div>
        </div>



    </div>

</form>

